#moreProduct_ajax_loader {
    display: -webkit-flex;
    display:  -webkit-box;
    display:  -ms-flexbox;
    display:         flex;
    z-index: 3;
    padding: 10px;
}
#moreProduct_ajax_loader > * {
    margin: auto;
    text-align: center;
    color: #000;
}